* {margin: 0; padding: 0;}


.header {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
}

.banner {
  width: 100%;
  height: 275px;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-list {
  margin: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.item {
  text-align: center;
}

.item img {
  width: 100%;
}

.item img:hover {
  cursor: pointer;
}

 h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.detail > div> div:first-child {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.detail > div > div:last-child {
  display: flex;
  justify-content: center;
}

.detail-img {
  margin-right: 20px;
}

.detail-text {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-text button {
  padding: 10px 50px;
  margin-top: 40px;
  border: none;
  background-color: #3ec6c6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.detail-intro {
  display: inline-block;
}