.d1 {
   border: 2px solid blueviolet;
   width: 120px;
   height: 100px;
   display: inline-block;
}

input {
   width: 80px;
}

.d2 {
   background-color: burlywood;
   width: 300px;
   height: 100px;
   margin-top: 5px;
}

span {
   color: white;
   font-weight: bold;
   font-style: italic;
}