.container {
   width: 800px;
   height: 600px;
   margin: 20px auto;
   border:1px solid black;

   display: grid;
   /* grid-template-columns: 10% 30% 60%; */
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr 1fr 1fr;
   gap: 10px;
}

.container > div {
   border: 1px solid red;
}

.container > div:nth-child(1) {
   grid-column-start: 1;
   grid-column-end: 3;
   
}

.container > div:nth-child(2) {
   background-color: antiquewhite;
}