body {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

table {
   width: 600px;
   height: 300px;
   text-align: center;
}

th {
   vertical-align: middle !important;
   background-color: yellowgreen;
   color: white;
   border-top: 2px solid rgb(23, 139, 23);
   border-bottom: 2px solid rgb(23, 139, 23);
}

td {
   vertical-align: middle !important;
   border-bottom: 1px solid #bebebe;
}

tr:nth-child(odd){
   background-color: #e7e7e7;
}

tr>td:nth-child(2) {
   text-align: left;
}

tr:hover {
   background-color: #aaaaaa;
}