body {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

input {
   margin: 4px 0px 8px 0px;
}

label {
   font-weight: bold;
   font-size: 0.8rem;
}

hr {
   background-color: #cccccc;
   height:1px;
   border: 0px;
}

.container {   
   width: 800px;
   padding: 20px;
   height: 300px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   /* box-shadow: x축으로의 그림자 이동, y축으로의 그림자 이동, 그림자 크기 */
   box-shadow: 0px 0px 5px #aaaaaa;
}

.header {
   flex-basis: 20%;
   align-items: center;
   /* background-color: #615efc; */
}

.main {
   flex-basis: 80%;
   display: flex;
   margin: 15px 15px 0px 15px;
   flex-direction: row;
   align-content: center;
   justify-content: space-around;
}

.content1 {
   box-shadow: 0px 0px 5px #aaaaaa;
   background-color: #f3f3f3;
   border-radius: 20px;
   padding: 10px;
   width: 380px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.email, .pw {
   width: 250px;
   border: none;
   display: block;
}

.shortCut, .logInButton {
   color: white;
   border: none;
   border-radius: 5px;
}

.logInButton {
   margin-top: 4px;
   padding: 5px 50px;
   background-color: #615efc;
}


.shortCut {
   background-color: #f5b95a;
   display: inline-block;
   text-decoration: none;
   padding: 5px 50px;
}

.content2 {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   width: 320px;
   height: 200px;
   justify-content: space-between;
}

.content2 > div:nth-child(2) {
   /* background-color: red; */
   text-align: center;
}

.content2 > div:nth-child(3) {
   /* background-color: rgb(187, 212, 235); */
   text-align: center;
   color: #7cc1a2;
}

.pw:focus {
   border: 2px solid red;
}

button:hover {
   background-color: #2d24da;
   cursor: pointer;
}
a:hover {
   background-color: #f1a31f;
}