<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/reset.css">
   <link rel="stylesheet" href="/all-css.css">
</head>
<body>
   <div class="container">
      <div class="table-div">
         <table border="1">
            <tr>
               <td>글번호</td>
               <td>[[${board.boardNum}]]</td>
               <td>조회수</td>
               <td>[[${board.readCnt}]]</td>
            </tr>
            <tr>
               <td>작성일</td>
               <td>[[${board.createDate}]]</td>
               <td>작성자</td>
               <td>[[${board.writer}]]</td>
            </tr>
            <tr>
               <td>제목</td>
               <td colspan="3">[[${board.boardTitle}]]</td>
            </tr>
            <tr>
               <td>내용</td>
               <td colspan="3">[[${board.content}]]</td>
            </tr>
         </table>
      </div>
      <div class="btn-div">
         <button type="button" onclick="goList()">목록가기</button>
         <button type="button" th:onclick="goUpdate([[${board.boardNum}]])">수정</button>
         <button type="button" th:onclick="deleteBoard([[${board.boardNum}]])">삭제</button>
      </div>
   </div>

   <script>
      function goList() {
         location.href="/";
      }

      function goUpdate(boardNum) {
         location.href=`/updateForm?boardNum=${boardNum}`;
      }

      function deleteBoard(boardNum) {
         var confirmDelete = confirm("게시글을 삭제하시겠습니까?");
         if (confirmDelete) {
            location.href=`/deleteBoard?boardNum=${boardNum}`;
         }
      }
   </script>
</body>
</html>