<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/reset.css">
   <link rel="stylesheet" href="/all-css.css">
</head>
<body>
   <div class="container">
      <form action="/" method="post">
         <div class="search-div">
            <select name="searchKeyword">
               <option value="BOARD_TITLE">제목</option>
               <option value="WRITER">작성자</option>
            </select>
            <input type="text" name="searchValue" id="">
            <button type="submit">검색</button>
         </div>
      </form>
      <div class="list-div">
         <table class="list-table" border="1">
            <thead>
               <tr>
                  <td>글 번호</td>
                  <td>제 목</td>
                  <td>작성자</td>
                  <td>작성일</td>
                  <td>조회수</td>
               </tr>
            </thead>
            <tbody> 
               <!-- 게시글이 없으면 -->
                
               <th:block th:if="${#lists.isEmpty(boardList)}">
                  <tr>
                     <td colspan="5">등록된 게시글이 없습니다.</td>
                  </tr>
               </th:block>
   
               <!-- 게시글이 있으면 -->
               <th:block th:unless="${#lists.isEmpty(boardList)}">
                  <tr th:each="board:${boardList}">
                     <td>[[${board.boardNum}]]</td>
                     <td><a th:href="@{/boardDetail(boardNum=${board.boardNum})}">[[${board.boardTitle}]]</a></td>
                     <td>[[${board.writer}]]</td>
                     <td>[[${board.createDate}]]</td>
                     <td>[[${board.readCnt}]]</td>
                  </tr>
                  <input type="hidden" name="content">
               </th:block>
   
            </tbody>
         </table>
      </div>
      <div class="btn-div">
         <input type="button" value="글쓰기" onclick="goWrite()">
      </div>
   </div>


   <script>
      function goWrite() {
         location.href="/writeForm";
      }
   </script>
</body>
</html>