<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">

    <!-- REACT_BOARD 테이블의 조회된 데이터는 BoardVO 자료형을 통해서 가져옴-->
	<resultMap id="board" type="com.green.ReactBoard.vo.BoardVO">
        <id column="BOARD_NUM" property="boardNum" />
<!--        <result column="BOARD_NUM" property="boardNum" />-->
        <result column="BOARD_TITLE" property="boardTitle" />
        <result column="BOARD_CONTENT" property="boardContent" />
        <result column="BOARD_WRITER" property="boardWriter" />
        <result column="CREATE_DATE" property="createDate" />
    </resultMap>

    <select id="getBoardList" resultMap="board">
        SELECT BOARD_NUM
            , BOARD_TITLE
            , BOARD_CONTENT
            , BOARD_WRITER
            , CREATE_DATE
        FROM REACT_BOARD;
    </select>

    <select id="getBoard" resultMap="board">
        SELECT BOARD_NUM
        , BOARD_TITLE
        , BOARD_CONTENT
        , BOARD_WRITER
        , CREATE_DATE
        FROM REACT_BOARD
        WHERE BOARD_NUM = #{boardNum};
    </select>

    <insert id="regBoard">
        INSERT INTO react_board (
            BOARD_TITLE
            , BOARD_WRITER
            , BOARD_CONTENT
        ) VALUES (
            #{boardTitle}
            , #{boardWriter}
            , #{boardContent}
        );
    </insert>

    <delete id="deleteBoard">
        DELETE FROM react_board
        WHERE BOARD_NUM = #{boardNum}
    </delete>
</mapper>































