<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   [[${member.name}]] <br>
   [[${member.age}]] <br>
   [[${abc[0]}]]
   <div>
      <div>
         <span>아이디</span>
         <input type="text" name="id">
      </div>
      <div>
         <span>비밀번호</span>
         <input type="password" name="pw">
      </div>
      <div>
         <a href="/join">
            <button type="button">가입하러 가기</button>
         </a>
      </div>
   </div>
</body>
</html>