.container {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.home-div {
   height: 90vh;
   display: flex;
   align-items: center;
}

.navigation-div {
   text-align: center;
   width: 800px;
   display: flex;
   justify-content: space-between;
   margin: 10px 0px 30px 0px;
}

.navigation-div span {
   background-color: darkcyan;
   color: white;
   display: inline-block;
   width: 200px;
   padding: 5px 0px;
}

.navigation-div span:hover, .btn-div button:hover {
   background-color: #005555;
   cursor: pointer;
}

.form {
   width: 800px;
   padding: 10px 0px;
   text-align: center;
}

.table.form input{
   width: 80%;
}

.form span {
   margin: 0px 20px;
}

.form input, select {
   width: 150px;
   padding: 5px 10px;
   margin-left: 10px;
}

hr {
   border: 1px solid #005555;
}

table {
   margin: 30px 0px;
   width: 800px;
   text-align: center;
}

.btn-div {
   text-align: center;
}

.car-reg-div .btn-div {
   text-align: right;
}

.btn-div button {
   padding: 5px 20px;
   background-color: darkcyan;
   color: white;
   border: none;
   border-radius: 5px;
}

table td {
   padding: 10px;
   border-bottom: 1px solid darkcyan;
   border-top: 1px solid darkcyan;
}


table tbody tr:nth-child(even) {
   background-color: #f3f7f4;
}

table thead {
   background-color: #005555 !important;
   color: white;
}

table tbody tr:hover {
   background-color: #eeeeee;
}

input, select {
   border: 1px solid #b8b8b8;
}