<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cartMapper">
    <resultMap id="cart" type="com.green.Shop.cart.vo.CartVO">
        <id column="CART_CODE" property="cartCode" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="CART_CNT" property="cartCnt" />
        <result column="MEM_ID" property="memId" />
        <result column="CART_DATE" property="cartDate" />
        <collection property="member" resultMap="memberMapper.member" />
        <collection property="item" resultMap="itemMapper.item" />
    </resultMap>

    <insert id="plusCart">
        INSERT INTO SHOP_CART (ITEM_CODE, CART_CNT, MEM_ID)
        VALUES (#{itemCode}, #{cartCnt}, #{memId});
    </insert>

    <select id="getCartList" resultMap="cart">
        SELECT CART_CODE, C.ITEM_CODE, CART_CNT, C.MEM_ID, CART_DATE, ITEM_NAME, ITEM_PRICE
        FROM SHOP_CART C, SHOP_ITEM I, SHOP_MEMBER M
        WHERE C.ITEM_CODE = I.ITEM_CODE
        AND C.MEM_ID = M.MEM_ID
        AND C.MEM_ID = #{memId}
    </select>
</mapper>