<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <!--item resultmap-->
    <resultMap id="item" type="com.green.Shop.item.vo.ItemVO">
        <id column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="ITEM_PRICE" property="itemPrice" />
        <result column="ITEM_INTRO" property="itemIntro" />
        <result column="ITEM_STOCK" property="itemStock" />
        <result column="ITEM_STATUS" property="itemStatus" />
        <result column="CATE_CODE" property="cateCode" />
    </resultMap>

    <!--category와 연결되는 resultmap-->
    <resultMap id="category" type="com.green.Shop.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode" />
        <result column="CATE_NAME" property="cateName" />
    </resultMap>
</mapper>

