<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
	<resultMap id="car" type="com.green.Car.vo.CarVO">
        <id column="MODEL_NUM" property="modelNum" />
        <result column="MODEL_NAME" property="modelName" />
        <result column="COST" property="cost" />
        <result column="BRAND" property="brand" />
    </resultMap>

    <!-- 차량 목록 불러오기-->
    <select id="getCarList" resultMap="car">
        SELECT MODEL_NUM, MODEL_NAME, COST, BRAND
        FROM CAR_INFO;
    </select>

    <!-- 차량 등록하기 -->
    <insert id="regCar">
        INSERT INTO CAR_INFO (MODEL_NAME, COST, BRAND)
        VALUES (#{modelName}, #{cost}, #{brand});
    </insert>
</mapper>