<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h2>학생 성적 입력 프로그램</h2>
   학생의 정보입니다 <br>
   이름 : [[${scoreVo.user}]] <br>
   학년 : [[${scoreVo.grade}]] <br>
   연락처 : [[${scoreVo.phone1}]] [[${scoreVo.phone2}]] <br>
   성별 : [[${scoreVo.gender}]] <br>
   국어 : [[${scoreVo.korScore}]] <br>
   수학 : [[${scoreVo.mathScore}]] <br>
   영어 : [[${scoreVo.engScore}]] <br>
   평균 : [[${scoreVo.avg}]] <br>
   <input type="submit" value="처음으로 가기">
</body>
</html>