<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
<form action="/page_4" method="post">
      <h2>학생 성적 입력 프로그램</h2>
      [[${scoreVo.user}]] 학생의 성적을 입력합니다. <br>
      국어 <input type="text" name="korScore"> <br>
      영어 <input type="text" name="engScore"> <br>
      수학 <input type="text" name="mathScore"> <br>
      <input type="submit" value="확인">
      <!-- 안 보이는 영역 -->
      <input type="hidden" name="user" th:value="${scoreVo.user}">
      <input type="hidden" name="grade" th:value="${scoreVo.grade}">
      <input type="hidden" name="phone" th:value="${scoreVo.phone[0]}">
      <input type="hidden" name="phone" th:value="${scoreVo.phone[1]}">
      <input type="hidden" name="gender" th:value="${scoreVo.gender}">
</form>
</body>
</html>