<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/page_3" method="post">
      <h2>학생 성적 입력 프로그램</h2>
      [[${scoreVo.user}]] 학생의 기본 정보를 입력합니다. <br>
      학년
      <input type="text" name="grade"> <br>
      연락처
      <select name="phone">
         <option>010</option>
         <option>011</option>
      </select>
      <input type="text" name="phone"> <br>
      성별
      <input type="radio" name="gender" value="남"> 남
      <input type="radio" name="gender" value="여"> 여
      <input type="submit" value="확인">
      <input type="submit" value="뒤로가기">
      <!-- 안 보이는 영역 -->
       <input type="hidden" name="user" th:value="${scoreVo.user}">
   </form>
</body>
</html>