<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
	<resultMap id="member" type="com.green.Board.vo.MemberVO">
        <id     column="MEM_ID"     property="memID" />
        <result column="MEM_PW"     property="MEM_PW" />
        <result column="MEM_NAME"   property="MEM_NAME" />
        <result column="GENDER"     property="GENDER" />
        <result column="MEM_ROLE"   property="MEM_ROLE"  />
    </resultMap>
</mapper>































