<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="container"> 
      <form action="/regStu" method="post">
         <div class="reg-form">
            학번 <input type="text" name="stuNum"> <br>
            이름 <input type="text" name="stuName"> <br>
            국어점수 <input type="text" name="korScore"> <br>
            영어점수 <input type="text" name="engScore"> <br>
            학생소개 <textarea name="intro" cols="30" rows="3"></textarea>
         </div>
         <div class="btn-div">
            <button type="submit">등록 완료</button>
         </div>
      </form>
   </div>
</body>
</html>