.container{
   width: 800px;
   margin: 30px auto;
}

.list-table {
   border:1px solid black;
   width: 100%;
}

.list-table tr, .list-table td {
   border:1px solid black;
}

.list-table td{
   padding:8px;
   text-align: center;
}

.btn-div {
   margin-top: 30px;
   text-align: center;
}